@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Bold.eot');
    src: url('../font/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Bold.woff2') format('woff2'),
        url('../font/TTNorms-Bold.woff') format('woff'),
        url('../font/TTNorms-Bold.ttf') format('truetype'),
        url('../font/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Medium.eot');
    src: url('../font/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Medium.woff2') format('woff2'),
        url('../font/TTNorms-Medium.woff') format('woff'),
        url('../font/TTNorms-Medium.ttf') format('truetype'),
        url('../font/TTNorms-Medium.svg#TTNorms-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'TT Norms';
//     src: url('TTNorms-Thin.eot');
//     src: url('TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
//         url('TTNorms-Thin.woff2') format('woff2'),
//         url('TTNorms-Thin.woff') format('woff'),
//         url('TTNorms-Thin.ttf') format('truetype'),
//         url('TTNorms-Thin.svg#TTNorms-Thin') format('svg');
//     font-weight: 100;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Light.eot');
    src: url('../font/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Light.woff2') format('woff2'),
        url('../font/TTNorms-Light.woff') format('woff'),
        url('../font/TTNorms-Light.ttf') format('truetype'),
        url('../font/TTNorms-Light.svg#TTNorms-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ExtraLight.eot');
    src: url('../font/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ExtraLight.woff2') format('woff2'),
        url('../font/TTNorms-ExtraLight.woff') format('woff'),
        url('../font/TTNorms-ExtraLight.ttf') format('truetype'),
        url('../font/TTNorms-ExtraLight.svg#TTNorms-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-Regular.eot');
    src: url('../font/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-Regular.woff2') format('woff2'),
        url('../font/TTNorms-Regular.woff') format('woff'),
        url('../font/TTNorms-Regular.ttf') format('truetype'),
        url('../font/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'TT Norms';
    src: url('../font/TTNorms-ExtraBold.eot');
    src: url('../font/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/TTNorms-ExtraBold.woff2') format('woff2'),
        url('../font/TTNorms-ExtraBold.woff') format('woff'),
        url('../font/TTNorms-ExtraBold.ttf') format('truetype'),
        url('../font/TTNorms-ExtraBold.svg#TTNorms-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

