.main_header{
    padding: 51px 60px 45px 60px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 1000;
}
.main_header{
    background: transparent;
}
.main-logo{
    width: 155px;
    height: 60px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    ul{
        display: flex;
    }
}
.menu-item-link{
    display: block;
    padding: 0px 0 0px 15px;
    color: $white;
    font-size: 20px;
}
.menu-item-link:hover{
    text-decoration: underline;
    text-decoration-color: #ee2c69;
    text-decoration-style: double;
}
.wrap-btn{
    height: 100%;
    min-height: 20px;
    // display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 10px;
    position: relative;
    cursor: pointer;
    display: none;
}
.menu-btn{
    width: 20px;
    height: 3px;
    background-color: $white;
}
.menu-btn::before, .menu-btn::after{
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    position: absolute;
    background-color: $white;
}
.menu-btn::before{
    top: 17px;
}
.menu-btn::after{
    bottom: 17px;
}

@media screen and (max-width: 840px){
    .main_header{
        padding: 60px 60px;
    }
    .wrap-btn{
        display: flex;
    }
    .menu{
        ul{
            display: none;
        }
    }
    .menu{
        .active{
            display: block;
            position: fixed;
            background: #323264;
            top: 110px;
            left: 0px;
            width: 195px;
            height: 250px;
        }
    }

    .main-logo{
        margin-top: 10px;
        width: 125px;
        height: 50px;
    }

    .menu-item-link{
        padding: 20px 0 0px 60px;
    }
}


@media screen and (max-width: 500px){
    .main_header{
        padding: 50px 20px 20px 20px;
    }

    .main-logo{
        margin-top: 20px;
        width: 100px;
        height: 40px;
    }
    .menu-item-link{
        padding: 15px 0 0px 15px;
        font-size: 16px;
    }
    .menu{
        .active{
            top: 90px;
            left: 5px;
        }
    }


    .menu-btn::before{
        top: 17px;
    }
    .menu-btn::after{
        bottom: 17px;
    }
}



.lang_btn{
    position: absolute;
    right: 510px;
    top: 37px;
    display: flex;
    a{
    @include font(12px, 1.1, 700);
    color: $white;
    text-align: center;
    letter-spacing: 1px;
    padding: 5px;
    }
    a:hover{
        background: #ee2c69;
        border-radius: 8px;
    }
}
.lang_btn-active{
    background: $crimson;
    border-radius: 8px;
}

.top_inf{
    position: absolute;
    display: flex;
    align-items: center;
    right: 60px;
    top: 35px;
    a{
        cursor: pointer;    
    }
}
.header_adress{
    color: $white;
    padding: 0 0 0 20px;
}
.header_tel{
    color: $white;
}
.dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $white;
    margin: 0 10px 0 10px;
}
@media screen and (max-width: 840px){
    .lang_btn{
        left: 58px;
        top: 24px;
    }
    .top_inf{
        right: 57px;
        top: 24px;
    }
    .header_tel{
        color: $light-gray;
    }
    .header_adress{
        display: none;
    }
    .dot{
        display: none;
    }
    .header_fb{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .lang_btn{
        left: 18px;
        top: 15px;
    }
    .top_inf{
        right: 19px;
        top: 18px;
    }
}



header {
  &.inverted {
    background-color: #323264;
    // box-shadow: 0 3px 5px 0.3px rgba(0,0,0,0.1);
    a {color: $white; }
  } 
}




// HEADER 2

.div_1{
    height: 700px;
    background-color: rgb(253, 247, 237);
}
.div_2{
    height: 700px;
    background-color: rgb(182, 240, 220);
}

  
  a {
    color: $blue;
  }
  
  /* header */
  
  .header-2 {
    background-color: $white;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 60px 45px 60px;
  }

  .header-2 li .underscore{
    text-decoration: underline;
    text-decoration-color: $crimson;
    color: $crimson;
}
  
  .header-2 li a:hover,
  .header-2 .menu-btn-2:hover {
    text-decoration: underline;
    text-decoration-color: #ee2c69;
    text-decoration-style: double;  
  }
    
  .header-2 .logo-2 {
    display: block;
    float: left;
    // font-size: 2em;
    // padding: 10px 10px;
    text-decoration: none;
        img{
            width: 365px;
        }
  } 

  .header-2 li {
    float: left;
  }
  .header-2 li a {
    display: block;
    padding: 20px 0 0px 15px;
    font-size: 20px;
  }
  .header-2 .menu-2 {
    clear: none;
    float: right;
    max-height: none;
    // padding: 10px 10px;
    margin-top: 10px;
  
  }
  .header-2 .menu-icon {
    display: none;
  }
  .header-2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
  }
  .header-2 .menu-btn-2 {
    display: none;
}

@media screen and (max-width: 1040px){
    .header-2 .logo-2 img{
        width: 265px;
      } 
}

@media screen and (max-width: 950px){
    .header-2 {
        display: block;
        // align-items: center;
        // justify-content: space-between;
        padding: 51px 60px 25px 60px;
      }
      .header-2 .logo-2 {
        margin-top: 10px;
        img{
            width: 200px;
        }
      }
      /* menu */
    .header-2 .menu-2 {
        display: grid;
        float: left;
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        width: 100%;
    }
    .header-2 li a {
        display: block;
        /* padding: 20px 20px; */
        border-right: none;
        /* text-decoration: none; */
        width: 100%;
      }
    /* menu icon */ 
    .header-2 .menu-icon {
        cursor: pointer;
        display: block;
        float: right;
        padding: 35px 20px 10px 20px;
        position: relative;
        user-select: none;
    }
    
    .header-2 .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: #333 .2s ease-out;
        width: 18px;    
    }
    .header-2 .menu-icon .navicon:before,
    .header-2 .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .header-2 .menu-icon .navicon:before {
        top: 5px;
    }
    
    .header-2 .menu-icon .navicon:after {
        top: -5px;
    }

        /* menu btn */

    .header-2 .menu-btn-2 {
        display: none;
    }
    
    .header-2 .menu-btn-2:checked ~ .menu-2 {
        max-height: 240px;
    }
    
    .header-2 .menu-btn-2:checked ~ .menu-icon .navicon {
        background: transparent;
    }
    
    .header-2 .menu-btn-2:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    
    .header-2 .menu-btn-2:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    
    .header-2 .menu-btn-2:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header-2 .menu-btn-2:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}


@media screen and (max-width: 500px){
    .header-2 {
        padding: 51px 20px 25px 20px;
      }
      .header-2 .logo-2 {
        margin-top: 15px;
      }
}



.lang_btn-2{
    a{
        color: $light-gray;
    }
    }   
.lang_btn-2 .lang_btn-active-2{
    color: $white;
}
.header_adress-2{
    color: $light-gray;
}
.dot-2{
    background-color: $light-gray;
}
.header_tel-2{
    color: $light-gray;
}


@media screen and (max-width: 1095px){
    .logo-3{
        width: 260px;
        margin-top: 20px;
    }
}