.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 20px;
  }
}
.text-42 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 600;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 500px) {
  .text-42 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
  }
}
.text-14 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 600;
}

.text-16 {
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
}

.text-16-700 {
  font-size: 16px;
  line-height: 1.1;
  font-weight: 700;
}

.text-18 {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .text-18 {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
  }
}
.text-24 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .text-24 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
  }
}
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  margin: 0 0px 1px 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-blue {
  border: solid #24A3FF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  margin: 0 0px 1px 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: "TT Norms";
}

.about_us {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
  height: 700px;
}

.team {
  position: relative;
  height: 550px;
  margin-top: 40px;
}

.slider {
  width: 1320px;
  height: 540px;
  overflow: hidden;
}

@media screen and (max-width: 1330px) {
  .slider {
    width: 1000px;
    height: 500px;
  }
}
@media screen and (max-width: 1010px) {
  .slider {
    width: 800px;
    height: 450px;
  }
  .text-slide-42 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 600;
  }
  .slide-text {
    padding: 25px 30px 20px 30px !important;
  }
}
@media screen and (max-width: 820px) {
  .slider {
    width: 600px;
    height: 400px;
  }
  .text-slide-42 {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
  }
}
@media screen and (max-width: 620px) {
  .slider {
    width: 335px;
    height: 435px;
  }
  .slide {
    position: relative;
  }
  .text-slide-42 {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
  }
  .img {
    width: 60px !important;
    height: 50px !important;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
  }
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 16px;
  height: 16px;
  margin: 14px;
  cursor: pointer;
  background: #24A3FF;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}

input[name=r] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 400%;
  height: 90%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
  display: flex;
  border-radius: 12px;
  background: #F5F5FA;
}

.img {
  width: 413px;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

.slide-text {
  padding: 40px 95px 40px 40px;
}
.slide-text .text-14 {
  color: #24A3FF;
  margin: 0 0 3px 0;
}
.slide-text .text-18 {
  color: #B3B3BA;
  margin: 20px 0 5px 0;
}
.slide-text .text-16 {
  color: #B3B3BA;
}

.services {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  padding: 80px 0 80px 0;
}
.services .text-14 {
  color: #FFFFFF;
  opacity: 0.5;
}
.services .text-42 {
  margin: 3px 0 68px 0;
}

.cards_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 40px;
  row-gap: 58px;
}
.cards_services .card img {
  width: 92px;
}
.cards_services .card .text-24 {
  padding: 20px 0 15px 0;
  color: #24A3FF;
}
.cards_services .card .text-18 {
  color: #ffffff;
}

@media screen and (max-width: 875px) {
  .services {
    padding: 40px 0 20px 0;
  }
  .services .text-42 {
    margin: 3px 0 20px 0;
  }
  .cards_services {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }
  .cards_services .card {
    display: grid;
    grid-template-columns: repeat(7, [col] 1fr);
    grid-template-rows: repeat(2, [rows] 1fr);
  }
  .cards_services .card img {
    margin: 0 10px 0 0;
    width: 64px;
    align-self: center;
  }
  .cards_services .card .text-24 {
    grid-area: 1/2/2/8;
    align-self: center;
    padding: 0;
  }
  .cards_services .card .text-18 {
    grid-area: 2/1/3/8;
  }
}
.successful_cases {
  display: flex;
  flex-direction: column;
  margin: 40px 60px 0 60px;
}
.successful_cases .top, .successful_cases .bottom {
  display: flex;
  justify-content: center;
}

.case {
  background: #F5F5FA;
  border: 2px solid white;
}
.case .text-24 {
  color: #686887;
}
.case .text-18 {
  padding: 0px 20px 20px 20px;
  color: #B3B3BA;
}

.case-1 {
  max-width: 433px;
  border-top-left-radius: 12px;
}
.case-1 h5 {
  border-bottom: 2px solid white;
  padding: 20px 0 20px 20px;
  color: #F0145A;
}
.case-1 p {
  padding: 48px 20px 20px 20px;
}

.case-2 {
  max-width: 454px;
}
.case-2 p {
  padding: 105px 20px 20px 20px;
}

.case-3 {
  max-width: 433px;
  border-radius: 0 12px 0 0;
}
.case-3 p {
  padding: 105px 20px 20px 20px;
}

.case-4 {
  max-width: 320px;
  border-radius: 0 0 0 12px;
  padding: 0px 30px 0px 0px;
  box-sizing: border-box;
}
.case-4 p {
  padding: 20px 20px 20px 20px;
}

.case-5 {
  max-width: 453px;
}
.case-5 p {
  padding: 76px 20px 20px 20px;
}

.case-6 {
  max-width: 547px;
  border-radius: 0 0 12px 0;
}
.case-6 p {
  padding: 76px 20px 20px 20px;
}

@media screen and (max-width: 875px) {
  .successful_cases {
    margin: 40px 60px 0 60px;
  }
  .successful_cases .top, .successful_cases .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .case {
    max-width: 755px;
  }
  .case .text-24 {
    padding: 20px 20px 10px 20px;
  }
  .case-1 {
    border-radius: 12px 12px 0 0;
  }
  .case-3 {
    border-radius: 0 0px 0 0;
  }
  .case-4 {
    border-radius: 0 0 0 0px;
    padding: 0px 20px 0px 0px;
  }
  .case-6 {
    border-radius: 0 0 12px 12px;
  }
}
@media screen and (max-width: 500px) {
  .successful_cases {
    margin: 30px 20px 0 20px;
  }
}
.partners_header {
  margin: 30px 0;
  color: #323264;
  text-align: center;
}

.logo {
  display: grid;
  grid-template-columns: repeat(4, 360px);
  gap: 0;
  justify-content: center;
  margin-bottom: 30px;
}
.logo img {
  width: 360px;
}

@media screen and (max-width: 1439px) {
  .logo {
    grid-template-columns: repeat(3, 360px);
  }
  .logo img {
    width: 360px;
  }
}
@media screen and (max-width: 1080px) {
  .logo {
    grid-template-columns: repeat(3, 240px);
  }
  .logo img {
    width: 240px;
  }
}
@media screen and (max-width: 721px) {
  .logo {
    grid-template-columns: repeat(2, 188px);
  }
  .logo img {
    width: 188px;
  }
  .logo .logo-img-8 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .logo .logo-img-7 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .logo .logo-img-9 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .logo .logo-img-12 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .logo .logo-img-11 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .logo .logo-img-10 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media screen and (max-width: 375px) {
  .logo {
    grid-template-columns: repeat(2, 120px);
  }
  .logo img {
    width: 120px;
  }
}
.main_header {
  padding: 51px 60px 45px 60px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 1000;
}

.main_header {
  background: transparent;
}

.main-logo {
  width: 155px;
  height: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.menu ul {
  display: flex;
}

.menu-item-link {
  display: block;
  padding: 0px 0 0px 15px;
  color: #ffffff;
  font-size: 20px;
}

.menu-item-link:hover {
  text-decoration: underline;
  text-decoration-color: #ee2c69;
  text-decoration-style: double;
}

.wrap-btn {
  height: 100%;
  min-height: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  display: none;
}

.menu-btn {
  width: 20px;
  height: 3px;
  background-color: #ffffff;
}

.menu-btn::before, .menu-btn::after {
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
}

.menu-btn::before {
  top: 17px;
}

.menu-btn::after {
  bottom: 17px;
}

@media screen and (max-width: 840px) {
  .main_header {
    padding: 60px 60px;
  }
  .wrap-btn {
    display: flex;
  }
  .menu ul {
    display: none;
  }
  .menu .active {
    display: block;
    position: fixed;
    background: #323264;
    top: 110px;
    left: 0px;
    width: 195px;
    height: 250px;
  }
  .main-logo {
    margin-top: 10px;
    width: 125px;
    height: 50px;
  }
  .menu-item-link {
    padding: 20px 0 0px 60px;
  }
}
@media screen and (max-width: 500px) {
  .main_header {
    padding: 50px 20px 20px 20px;
  }
  .main-logo {
    margin-top: 20px;
    width: 100px;
    height: 40px;
  }
  .menu-item-link {
    padding: 15px 0 0px 15px;
    font-size: 16px;
  }
  .menu .active {
    top: 90px;
    left: 5px;
  }
  .menu-btn::before {
    top: 17px;
  }
  .menu-btn::after {
    bottom: 17px;
  }
}
.lang_btn {
  position: absolute;
  right: 510px;
  top: 37px;
  display: flex;
}
.lang_btn a {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1px;
  padding: 5px;
}
.lang_btn a:hover {
  background: #ee2c69;
  border-radius: 8px;
}

.lang_btn-active {
  background: #F0145A;
  border-radius: 8px;
}

.top_inf {
  position: absolute;
  display: flex;
  align-items: center;
  right: 60px;
  top: 35px;
}
.top_inf a {
  cursor: pointer;
}

.header_adress {
  color: #ffffff;
  padding: 0 0 0 20px;
}

.header_tel {
  color: #ffffff;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 840px) {
  .lang_btn {
    left: 58px;
    top: 24px;
  }
  .top_inf {
    right: 57px;
    top: 24px;
  }
  .header_tel {
    color: #B3B3BA;
  }
  .header_adress {
    display: none;
  }
  .dot {
    display: none;
  }
  .header_fb {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .lang_btn {
    left: 18px;
    top: 15px;
  }
  .top_inf {
    right: 19px;
    top: 18px;
  }
}
header.inverted {
  background-color: #323264;
}
header.inverted a {
  color: #ffffff;
}

.div_1 {
  height: 700px;
  background-color: rgb(253, 247, 237);
}

.div_2 {
  height: 700px;
  background-color: rgb(182, 240, 220);
}

a {
  color: #24A3FF;
}

/* header */
.header-2 {
  background-color: #ffffff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 51px 60px 45px 60px;
}

.header-2 li .underscore {
  text-decoration: underline;
  text-decoration-color: #F0145A;
  color: #F0145A;
}

.header-2 li a:hover,
.header-2 .menu-btn-2:hover {
  text-decoration: underline;
  text-decoration-color: #ee2c69;
  text-decoration-style: double;
}

.header-2 .logo-2 {
  display: block;
  float: left;
  text-decoration: none;
}
.header-2 .logo-2 img {
  width: 365px;
}

.header-2 li {
  float: left;
}

.header-2 li a {
  display: block;
  padding: 20px 0 0px 15px;
  font-size: 20px;
}

.header-2 .menu-2 {
  clear: none;
  float: right;
  max-height: none;
  margin-top: 10px;
}

.header-2 .menu-icon {
  display: none;
}

.header-2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header-2 .menu-btn-2 {
  display: none;
}

@media screen and (max-width: 1040px) {
  .header-2 .logo-2 img {
    width: 265px;
  }
}
@media screen and (max-width: 950px) {
  .header-2 {
    display: block;
    padding: 51px 60px 25px 60px;
  }
  .header-2 .logo-2 {
    margin-top: 10px;
  }
  .header-2 .logo-2 img {
    width: 200px;
  }
  /* menu */
  .header-2 .menu-2 {
    display: grid;
    float: left;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    width: 100%;
  }
  .header-2 li a {
    display: block;
    /* padding: 20px 20px; */
    border-right: none;
    /* text-decoration: none; */
    width: 100%;
  }
  /* menu icon */
  .header-2 .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 35px 20px 10px 20px;
    position: relative;
    user-select: none;
  }
  .header-2 .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: #333 0.2s ease-out;
    width: 18px;
  }
  .header-2 .menu-icon .navicon:before,
.header-2 .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header-2 .menu-icon .navicon:before {
    top: 5px;
  }
  .header-2 .menu-icon .navicon:after {
    top: -5px;
  }
  /* menu btn */
  .header-2 .menu-btn-2 {
    display: none;
  }
  .header-2 .menu-btn-2:checked ~ .menu-2 {
    max-height: 240px;
  }
  .header-2 .menu-btn-2:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header-2 .menu-btn-2:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header-2 .menu-btn-2:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header-2 .menu-btn-2:checked ~ .menu-icon:not(.steps) .navicon:before,
.header-2 .menu-btn-2:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}
@media screen and (max-width: 500px) {
  .header-2 {
    padding: 51px 20px 25px 20px;
  }
  .header-2 .logo-2 {
    margin-top: 15px;
  }
}
.lang_btn-2 a {
  color: #B3B3BA;
}

.lang_btn-2 .lang_btn-active-2 {
  color: #ffffff;
}

.header_adress-2 {
  color: #B3B3BA;
}

.dot-2 {
  background-color: #B3B3BA;
}

.header_tel-2 {
  color: #B3B3BA;
}

@font-face {
  font-family: "TT Norms";
  src: url("../font/TTNorms-Bold.eot");
  src: url("../font/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../font/TTNorms-Bold.woff2") format("woff2"), url("../font/TTNorms-Bold.woff") format("woff"), url("../font/TTNorms-Bold.ttf") format("truetype"), url("../font/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../font/TTNorms-Medium.eot");
  src: url("../font/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../font/TTNorms-Medium.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff"), url("../font/TTNorms-Medium.ttf") format("truetype"), url("../font/TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../font/TTNorms-Light.eot");
  src: url("../font/TTNorms-Light.eot?#iefix") format("embedded-opentype"), url("../font/TTNorms-Light.woff2") format("woff2"), url("../font/TTNorms-Light.woff") format("woff"), url("../font/TTNorms-Light.ttf") format("truetype"), url("../font/TTNorms-Light.svg#TTNorms-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../font/TTNorms-ExtraLight.eot");
  src: url("../font/TTNorms-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/TTNorms-ExtraLight.woff2") format("woff2"), url("../font/TTNorms-ExtraLight.woff") format("woff"), url("../font/TTNorms-ExtraLight.ttf") format("truetype"), url("../font/TTNorms-ExtraLight.svg#TTNorms-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../font/TTNorms-Regular.eot");
  src: url("../font/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../font/TTNorms-Regular.woff2") format("woff2"), url("../font/TTNorms-Regular.woff") format("woff"), url("../font/TTNorms-Regular.ttf") format("truetype"), url("../font/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../font/TTNorms-ExtraBold.eot");
  src: url("../font/TTNorms-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/TTNorms-ExtraBold.woff2") format("woff2"), url("../font/TTNorms-ExtraBold.woff") format("woff"), url("../font/TTNorms-ExtraBold.ttf") format("truetype"), url("../font/TTNorms-ExtraBold.svg#TTNorms-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.services-2 {
  padding-top: 190px;
}/*# sourceMappingURL=css.css.map */